# The Pandas DataFrame: Working With Data Efficiently

In [3]:
import pandas as pd

In [4]:
candidates = pd.read_csv("job_candidates.csv", index_col=0)
top_candidates = candidates[candidates["py-score"] >= 80]
top_candidates.sort_values(by="py-score", ascending=False)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
107    Nori        Osaka   37      84.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0

In [5]:
candidates

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

In [6]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}
index = range(101, 108)

In [8]:
df = pd.DataFrame(data, index=index)

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.index

RangeIndex(start=101, stop=108, step=1)

In [11]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

In [13]:
type(df.columns)

pandas.core.indexes.base.Index

In [14]:
df.head()

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0

In [15]:
df.head(3)

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0